name: Deploy docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Upload docs folder as Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./docs

  
  deploy-pages:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
